@page "/"
@inherits IndexClass

<h1>
    Welcome to iLAPS Admin Utility
</h1>
<p>Features:</p>
<ul>
    <li>Search for machines using a configurable machine prefix</li>
    <li>Automatically reseting machine password after configurable amount of hours if not an SuperUser</li>
    <li>Ability for SuperUsers to not trigger an automatic password reset</li>
    <li>Logging of All User Actions</li>
    <IsInDEMGroup SupressErrorMessage="true"><li>Support For DEM enrollment password management similar to iLAP password management</li></IsInDEMGroup>
</ul>
