@using Microsoft.AspNetCore.Http
@using IntuneLAPsAdmin.Interfaces;
@inject IAuthService  authService
@inject IHttpContextAccessor  httpContextAccessor

@if (IsLoaded)
{
    @if (IsInDemGroup)
    {
        @ChildContent
    } else
    {
        if (!SupressErrorMessage)
        {
        <p>This Application is not configured to support DEM Enrollment Management, please contact your administrator to configure this feature</p>
        }
    }
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool SupressErrorMessage { get; set; } = false;

    public bool IsInDemGroup = false;
    public bool IsLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        IsInDemGroup = await authService.IsInDemGroupAsync();
        IsLoaded = true;
    }
}